body {
    background: url(heart.png) repeat center;
    animation: fly 5s linear infinite;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  
  @keyframes fly {
    from { background-position: 0 0; }
    to { background-position: -200px -200px; }
  }
  
  #title {
    color: red;
    margin-top: 0;
    font-size: 36px;
    text-shadow: 2px 2px #fff;
  }
  
  #message {
    margin-top: 50px;
    font-size: 18px;
    color: #333;
  }
  
  button {
    margin-top: 100px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px #333;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 4px 4px #333;
  }
  
  button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px #333;
  }
  